*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* 62.5% -> 1em = 10px / 75% -> 1em = 12px */
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
  color: #000;
}

.wrapper {
  padding: 10rem;
}

.nav {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-size: 2rem;
}

.nav-links {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav-link {
  font-size: 1.4rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nav-link:not(:last-child) {
  margin-right: 2rem;
}

.nav-link:hover {
  cursor: pointer;
}

.nav-link:not(:hover) {
  opacity: 0.6;
}

.active {
  opacity: 1 !important;
}

.filters {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter {
  font-size: 1.4rem;
}

.filter:not(:last-child) {
  margin-right: 2rem;
}

.filter:hover {
  cursor: pointer;
}

.products {
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.product {
  position: relative;
}

.product img {
  width: 100%;
}

.product:hover {
  cursor: pointer;
}

.product:hover .product-desc {
  opacity: 1;
}

.product-desc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(186, 240, 231, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.product-name,
.product-price {
  font-size: 1.6rem;
}

.product-name {
  margin-bottom: 1rem;
}

.footer {
  margin-top: 5rem;
}

.f-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.f-nav-link {
  font-size: 1.4rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.f-nav-link:not(:last-child) {
  margin-right: 2rem;
}

.f-nav-link:hover {
  cursor: pointer;
}

.f-nav-link:not(:hover) {
  opacity: 0.6;
}

.contact-form {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-group label {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  display: block;
}

.form-group input,
.form-group textarea {
  border: 0.05rem solid rgba(0, 0, 0, 0);
  background-color: rgba(83, 83, 83, 0.1);
  padding: 0.5rem;
  font-size: 1.6rem;
  width: 100%;
  outline: none;
  -webkit-transition: border 0.2s, background-color 0.2s;
  transition: border 0.2s, background-color 0.2s;
}

.form-group input:focus,
.form-group textarea:focus {
  border: 0.05rem solid black;
  background-color: rgba(83, 83, 83, 0.2);
}

.form-group:not(:last-child) {
  margin-bottom: 2rem;
}

.btn {
  padding: 0.5em 1rem;
  border: 0.05rem solid black;
  background-color: rgba(83, 83, 83, 0.1);
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(83, 83, 83, 0.4);
}

.center {
  text-align: center;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.05rem solid #000;
  padding: 0.5rem 1rem;
}

.category:hover {
  cursor: pointer;
}

.checked {
  background-color: #000;
  color: #fff;
}

.gallery {
  margin-top: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.g-item {
  position: relative;
}

.g-item:hover {
  cursor: pointer;
}

.g-item:hover .g-item-thumb {
  opacity: 1;
}

.g-item img {
  width: 100%;
}

.g-item-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.6rem;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

@media screen and (max-width: 860px) {
  .products,
  .gallery {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 700px) {
  .wrapper {
    padding: 5rem;
  }
}

@media screen and (max-width: 560px) {
  .filters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .filter:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 470px) {
  .categories {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .category:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 450px) {
  .wrapper {
    padding: 3rem;
  }
}
